RabbitTestClient/Web References/StealYourBikeBank/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RequestLoan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ssn" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="creditScore" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="loanAmount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="loanDuration" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestLoanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestLoanResult" type="tns:LoanResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LoanResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Ssn" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IntRate" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RequestLoanSoapIn">
    <wsdl:part name="parameters" element="tns:RequestLoan" />
  </wsdl:message>
  <wsdl:message name="RequestLoanSoapOut">
    <wsdl:part name="parameters" element="tns:RequestLoanResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="RequestLoan">
      <wsdl:input message="tns:RequestLoanSoapIn" />
      <wsdl:output message="tns:RequestLoanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestLoan">
      <soap:operation soapAction="http://tempuri.org/RequestLoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequestLoan">
      <soap12:operation soapAction="http://tempuri.org/RequestLoan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:50959/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:50959/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>